* {
  background-color: black;
  color: white;
  text-align: center;
}

h1,
p,
body {
  font-family: Lato;
}
.betterview {
  border: 2px solid;
  margin: 5px;
  padding: 5px;
}
i {
  font-size: xx-large;
}
.bi-star-fill {
  color: rgb(240, 255, 24);
}
